body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}
:app {
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
}
header {
  text-align: center;
  border-bottom: 1px solid #041329;
  background-color: #041329;
  padding-bottom: 20px;
  width: 100%;
  top: -20px;
  color: #fff;
}
.loader {
  border-top: 7px solid blue;
  border-right: 7px solid green;
  border-bottom: 7px solid red;
  border-left: 7px solid pink;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-left: 700px;
  margin-top: 20px;
  text-align: center;
}
.loaderText {
  text-align: center;
  color: #041329;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
