body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background-color: darkgray;
}
:app {
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
}
header {
  text-align: center;
  border-bottom: 1px solid #041329;
  background-color: #041329;
  padding-bottom: 20px;
  width: 100%;
  top: -20px;
  color: #fff;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-style: groove;
}
.loader {
  border-top: 7px solid blue;
  border-right: 7px solid green;
  border-bottom: 7px solid red;
  border-left: 7px solid pink;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-left: 350px;
  margin-top: 20px;
}
.loaderText {
  text-align: center;
  color: #041329;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section {
  width: 80%;
  margin: 20px auto 0;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.section:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sortsView {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.sortsView:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sortsPane {
  padding: 5px 10px;
}
.sortsPane select {
  width: 80px;
  height: 25px;
  padding: 0 10px;
  border-radius: 3px;
  border-color: #041329;
}
.mainProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.grid {
  background-color: #041329;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  max-width: 290px;
  min-width: 150px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 260px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.grid:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.ads {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 50px;
}
.face {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}
.others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  background-color: #f7f8f9;
  border-radius: 10px;
  box-shadow: 0 12px 11px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
}
.others:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  font-size: 12px;
}
.price {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  font-weight: 800;
}
.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  font-size: 12px;
}
